*#
*.aux
*.dSYM
*.dvi
*.elc
*.log
*.o
*.sw[po]
*.swo
*.swp
*~
.#*
.*~
.DS_Store
.svn
.vim/.netrwhist
.vim/bundle
.vim/plugin/
Session.vim
TAGS
\#*#
tags

.vagrant
dotfiles
provisioning

!_provisioning/dotfiles

_dotfiles/.ssh/id_rsa
_dotfiles/.ssh/id_rsa.pub
_dotfiles/.ssh/id_rsa_scm
_dotfiles/.aws/config
aws/dotenv

_vault*
!_vault.bin
